<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button [routerLink]="['/player-input']">
      <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer px-2"></span>
    <span>Tower Game</span>
    <span class="example-spacer px-2"></span>
    <button mat-button [routerLink]="['/leader-board']" class="mt-1">
      <span class="font-bold bg-gradient-to-r from-green-700 to-red-700 bg-clip-text text-transparent border-b-1 border-transparent pb-1" style="border-image: linear-gradient(to right, #22543d, #c53030) 1;">Leaderboard</span>
    </button> 
  </mat-toolbar-row>
</mat-toolbar>
