<div class="flex flex-row gap-x-5 max-w-md m-auto mb-10" id="card">
	<div class="mx-auto mt-6 p-6 rounded-lg shadow bg-gradient-to-r from-red-100 to-red-300 text-center transition-transform duration-500 ease-in-out hover:scale-105" [routerLink]="['/leader-board']">
		<div class="text-2xl font-bold text-red-700 mb-2">Your Score!</div>
		<div class="text-4xl font-extrabold text-red-900"> {{scoreService.latestScore()}}</div>
	</div>
	<div class="mx-auto mt-6 p-6 rounded-lg shadow bg-gradient-to-r from-red-100 to-red-300 text-center transition-transform duration-500 ease-in-out hover:scale-105" [routerLink]="['/leader-board']">
		<div class="text-2xl font-bold text-red-700 mb-2">You Ranked!</div>
		<div class="text-4xl font-extrabold text-red-900"> {{scoreService.latestRank()}} </div>
	</div>
</div>